<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

    <div id="app">
        <!-- <h1 v-if="isAwesome">
            <span>
                Vue is awesome!
            </span>
        </h1>
        <h1 v-else>
            I don't like Vue :(
        </h1> -->

        <!-- <div v-if="userColor === 'green'">
            GREEN
        </div>
        <div v-else-if="userColor === 'red'">
            RED
        </div>
        <div v-else>
            BLUE
        </div> -->
<!-- 
        <input type="text" v-model="userInput" @keyup.enter="handleUserInput"> -->

        <h1 v-show="isVisible">
            Sono VISIBILE
        </h1>

    </div>
    
    <script src="js/script.js"></script>
</body>
</html>